<div>
  <%= turbo_stream_from :players %>
  <%= turbo_frame_tag dom_id(@character) do %>
    <%= render partial: "characters/player", locals: { character: @character } %>
  <% end %>
  <%= form_with url: command_path, method: :post do |form| %>
    <%= form.submit "Send" %>
    <%= form.text_field :command %>
  <% end %>
</div>
<hr />
<a href=<%= pages_logout_path %>>Log Out</a><br />

<script>
  document.querySelector('form').onsubmit = e => {
    e.target.submit();
    e.target.reset();
    return false;
  };
</script>
