<div>
  <h1 class="font-bold text-4xl">Welcome To HackMUD</h1>
  <%= form_with url: pages_login_path, method: :post do |form| %>
    <%= form.label :name, "Character Name:" %>
    <%= form.text_field :name %>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
    <br />
    <%= form.submit "Log-In / Create" %>
  <% end %>
</div>
<hr />
<a href="/characters">Leaderboard</a>
